{% extends '::base.html.twig' %}
{% block title %}首页{% endblock %}
{% block main %}
<div  class="indexmain">
    <div class="ym-grid">
        {#上半部分4个块#}
        <div class="ym-g20 ym-gl indexblock">托运单数</div>
        <div class="ym-g20 ym-gl indexblock">托运单数</div>
        <div class="ym-g20 ym-gl indexblock">托运单数</div>
        <div class="ym-g20 ym-gl indexblock">托运单数</div>
    </div>

        {#主体#}
    <div id="indexpanel" class="ym-grid">
        <div class="indexbottom">
            应用行业 全国数千家客户成功使用！！！
        </div>
    </div>
</div>
{% endblock %}
